@import url(https://fonts.googleapis.com/css?family=Nunito);
html,body{
    height: 100%;
}
html,body{
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}


/* Section 1 Vslider */
.vslider{
    //height of all elements   
    display: block;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #ccc;
    overflow: hidden;
    position: relative;
    nav{
        display: block;
        background: #000;
        width: 150px;
        height: 100%;
        position: absolute;
        z-index: 3;
        right: -110px;
        opacity: 0.5;
        font-size: 0.8em;
        transition: right 0.5s, opacity 0.5s;
        -o-transition: right 0.5s, opacity 0.5s;
        ul{
            list-style: none;
            margin: 0px;
            padding:20px 0 0 20px;
            margin: 30% 0 0 0; 
        }
        ul li{
            
        }
        // 00.number / text
        ul li .nl-1{
            display: inline-block;
            margin: 0 20px 0 0px;
            margin: 0 20px 0 -8px;
        }
        ul li .n1-2{
            display: inline-block;
        }
        ul li a{
            display: block;
            padding: 10px 10px 10px 0px;
            color: grey;
            text-decoration: none;
            transition: all 0.5s;
        }
        ul li a:hover{
            color: #FFF;
        }
        .nav-active{
            color: #FFF;
        }
    }
    .nav-on{
        //right: 0px;
        opacity: 1;
    }
    .article{
        display: none;
        width: 70%;
        width: 70%;
        height: 100%;
        z-index: 2;
        display: none;
        padding: 10% 25% 5% 5%;
        background: #000;
    }
    .article h1{
        font-size: 1.2em;
        transition: all 1s;
    }
    .article h3{
        font-size: 0.7em;
        color: #FFF;
        text-transform: uppercase;
    }
    .article p{
        font-size: 0.9em;
        line-height: 1.4em;
        color: #FFF;
    }
    .article-active{
        display: block;
    }
    #article1{
        background: #f26754;
    }
    #article2{
        background: #38a9e2;
    }
    #article3{
        background: #9837eb;
    }
    #article4{
        background: #3bccb1;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
    /* Section 1 Vslider */
    .vslider{
        nav{
            right: -190px;
            width: 250px;
            font-size: 1em;
            // 00.number / text
            ul li .nl-1{
                margin: 0 20px 0 0px;
            }
        }
        .nav-on{
            right: 0px;
        }
        .article{
            width: 78%;
            padding: 10% 17% 5% 5%;
        }
        .article h1{
            font-size: 1.6em;
        }
        .article h3{
            font-size: 0.8em;
        }
        .article p{
            font-size: 1em;
            line-height: 1.4em;
        }
    }

}

/* !! Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    /* Section 1 Vslider */
    .vslider{
        //height of all elements
 
        .article{
            width: 80%;
            padding: 10% 15% 5% 5%;
        }
        .article h1{
            font-size: 2em;
        }
        .article h3{
            font-size: 0.8em;
        }
        .article p{
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}